# Dependency directories
node_modules/
target/
.gradle/
build/
dist/

# IDE files
.idea/
.vsc/
.vscode/
*.iml
*.iws
*.ipr

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.production
.env.development

# Logs
*.log

# Databases
*.sql
*.sqlite

# Docker
.docker/
